# Virtual Environments
.venv/
venv/
myenv/
env/

# Python Cache
__pycache__/
*.pyc

# Environment Variables
.env
.env.local

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Gradio
gradio_cached_examples/

# Node Modules
node_modules/

# Mac Files
.DS_Store

# Vector Database
vectorstore/

# Data Files
data/